/* Styles for Group Project: Ahmedless */

/* Body Padding to account for fixed navbar (takes up space at top of page) */
body {
	padding-top: 70px;
}

/* Ahmed Face Pic Styling*/
img {
	padding: 2% 0;
	border-radius: 8%;
}

/* Input bar width */
#userInput {
	width: 300px;
}

.panel-heading {
	opacity: .8;
}

/* Large Text Styling */
.largeText {
	font-size: 1.5em;
}

.largeText .form-control {
	font-size: 1em;
	height: 40px;
}

.largeText .deleteButton {
	height: 40px;
}

.input-group-btn {
	/*display: none;*/
}

.darkTheme,
.darkTheme .form-control,
.darkTheme .deleteButton {
	background-color: darkgrey;
	color: white;
}